.nav {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(176, 78, 78, 0.7) 0px 0px 20px 0px;
    padding: 1rem;
    margin: 1rem 1.5rem 1.5rem 1rem;
    list-style-type: none;
}

.navbut {
    color: rgb(206, 205, 205);
    text-decoration: none;
    border-bottom: 1px solid rgb(176, 78, 78);
    text-transform: uppercase;
    font-weight: 800;
    font-size:.7rem ;
}

.navbut.active,
.navbut:hover {
    color: rgb(176, 78, 78);
}

.selectNav {
    color: rgb(206, 205, 205);
    border: none;
    padding: 0rem 0.4rem;
    background: transparent;
    font-weight: 700;
    font-size: .7rem;
    height: 1.3rem;
    width: 100vw;
    text-align: center;
    letter-spacing: 1px;
}

.selectNav > option {
    background-color: rgb(76, 26, 26);
}

.selectNav:hover {
    background-color: rgb(140, 46, 46);
}
