.nav {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(176, 78, 78, 0.7) 0px 0px 20px 0px;
    padding: 1rem;
    margin: 1rem 1.5rem 1rem 1rem;
 
    list-style-type: none;
}

.navbut {
    text-decoration: none;
    border-bottom: 1px solid rgb(176, 78, 78);
    text-transform: uppercase;
    font-weight: 800;
    font-size:.7rem ;
}

.navbut.active,
.navbut:hover {
    color: rgb(176, 78, 78);
}
