.conteinerCR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48vw;
    margin: 3rem auto 0 auto;
    padding: 1rem 1rem 3rem 1rem;
    overflow: hidden;
    background-color: rgba(73, 67, 67, 0.623);
    backdrop-filter: blur(10px);
    border: 0.2rem solid transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: all 0.3s ease-out;
}

.conteinerCR:hover {
    background-color: rgba(255, 255, 255, 0.116);
    border: 0.15rem solid rgba(255, 255, 255, 0.432);
    border-radius: 0.3rem;
}
.label-span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.labelform {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1rem;
    color: rgb(202, 201, 201);
}

.errorSpan {
    color: rgb(199, 78, 78);
    font-size: .9rem;
}

.inputform {
    display: flex;
    width: 35vw;
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid var(--border);
    -webkit-appearance: none;
    appearance: none;
    border-radius: .6rem;
    box-shadow: rgba(176, 78, 78, 0.7) 0px 0px 20px 0px;
}

.maincontchecks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.contchecks {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    letter-spacing: 1.4px;
    line-height: 1.1rem;    
}

.labelcheck {
    display: flex;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1rem;
    color: rgb(202, 201, 201);
}

.check {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.aligncheck{
    display: flex;
    margin-bottom: 0.2rem;
}

.inputcheck {
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.5s ease-out;
    cursor: pointer;
    background-color: transparent;
    width: .7rem;
    height: .7rem;
    appearance: none;
    border: 2px solid #888;
    border-radius: 5rem;
}
.inputcheck:checked {
    margin-left: 1rem;
    background-color: rgb(176, 78, 78);
    border-color: rgb(176, 78, 78);
    transition: all 0.5s ease-out;
}

.contchecks_ {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    margin-left: 2rem;
    letter-spacing: 1.4px;
    line-height: 1.1rem;    
}

.optioncheck {
    font-size: .8rem;
    font-weight: 300;
    color: rgb(179, 178, 178);
    font-style: italic
}

.containbutCR {
    display: flex;
    align-items: flex-end;
}

.butCR {
    font-size: .9rem;
    width: 7rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: rgb(176, 78, 78);
    cursor: pointer;
    list-style: none;
    color: rgb(216, 216, 216);
    transition: all 0.5s ease-out;
}

.butCRnone {
    font-size: .9rem;
    width: 7rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: rgb(97, 97, 97);
    cursor: pointer;
    list-style: none;
    color: rgb(108, 108, 108);
}

.butCR:hover {
    color:white;
    background-color: rgba(255, 255, 255, 0.183);
    transition: all 0.5s ease-out;
}

.alignspan{
    display: flex;
    justify-content: center;
}

@media  (max-width:900px) {
    .inputform {
        width: 70vw;
    }
    .conteinerCR {
        width: 80vw;
    }
}

@media  (max-width:500px) {
    .inputform {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }
    .label-span {
        flex-direction: column;
        justify-content: center;
    }

    .labelform{
       font-size: .9rem;
       margin-bottom: 0;
    }
    .errorSpan {
        font-size: .8rem;
    }
    .maincontchecks {
        margin-left: 2rem; 
    }
    .containbutCR {
        justify-content: center;
        margin-top: 1rem;
    }
    .optioncheck {
        font-size: .7;
    }
}