.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h3loader{
    color:rgba(176, 78, 78);
}

.spinner{
    border:4px solid rgba(156, 156, 156, 0.212);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: rgb(176, 78, 78);

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.textLoader {
    text-align: center;
    margin-top: 4rem;
    line-height: 1.5;
    color: rgb(151, 151, 151);
}

.text1Loader {
    text-align: center;
    padding: 1rem 3rem;
    line-height: 1.5;
    color: rgb(151, 151, 151);
    font-size: .9rem;
}

.imgLoader {
   height: 9vh; 
   margin-top: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

