.sidebar {
    position: fixed;
    height: 100%;
    width: 20%;
    background: rgb(53, 48, 48);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 30px 0px;
    transition: all 0.5s ease-out;
    overflow-y:scroll;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: none;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(60, 52, 52);
    border-radius: 10px;
}

.sidebar.open {
    transform: translateX(0);
}
  
.sidebar.closed {
    transform: translateX(-100%);
}

.topbarContain {
    display: flex;
    flex-direction: column;
    background-color:rgba(53, 48, 48, 0.281); ;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-out;
}

.topbar {
    display: flex;
    margin-left: 20%;
    height: 25vh;
    background-color: rgba(53, 48, 48, 0.281);
    transition: all 0.5s ease-out;
}

.topbar.closed  {
    margin-left: 0%;
    height: 25vh;
}   

.toggleMenu {
    position: fixed;
    margin-top: 1rem;
    left: 19.96vw;
    width: 1.3rem;
    height: 9vh;
    background-color: #918f8f;
    box-shadow: rgb(56 54 54 / 98%) 3px 0px 5px 3px;
    border-radius: 0 0.8rem 0.8rem 0 ;
    transition: all 0.5s ease-out;
    border: none;
    z-index: 3;
    transition: all 0.5s ease-out;
}

.toggleMenu.closed {
    left: 0;
}

.toggleMenu:hover {
    position: fixed;
    margin-top: 1rem;
    width: 2rem; 
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background: rgb(176, 78, 78);
    transition: all 0.5s ease-out;
    border: none;
}

.pag {
    position: sticky;
    top: 20rem;
    list-style-type: none;
    margin-left: 20%;
    background-color:rgba(53, 48, 48, 0.281); ;
    transition: all 0.5s ease-out;
}

.pag.closed  {
    margin-left: 0%;
}

.load-notF {
    width: 120vw;
    margin-top: 10vh;
    height: 125vh;
    transition: all 0.5s ease-out;
}

.load-notF.closed {
    width: 100vw;
}

.maincontainer {
    display: flex;
    justify-content: flex-end;   
}

.cardsContain {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 1.5rem;
    margin-bottom: 5%;
    transition: all 0.5s ease-out;
}

.cardsContain.closed {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 0.5rem;
    justify-content: center;
    width: 100%;
    margin: 1.5rem auto 5%;
}

.card {
    border-radius: .5rem;
    margin: .7rem 5rem;
    overflow: hidden;
}

.card.closed {
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 2rem 1rem 2rem;
}

.card.closed:nth-child(odd) {
    margin-left: 4rem;
    margin-right: .3rem;
}
  
.card.closed:nth-child(even) {
    margin-left: .3rem;
    margin-right: 4rem;
}


.slider-frame {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider-frame.closed {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  /* animation: slide 16s infinite alternate linear; */
  animation: slide 16s infinite alternate linear;
}

.slider-frame li {
  list-style: none;
  width: 25%;
}

.slider-frame img {
  width: 100%;
  height: 100%;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-25%); }
    45% { transform: translateX(-25%); }
    50% { transform: translateX(-50%); }
    70% { transform: translateX(-50%); }
    75% { transform: translateX(-75%); }
    100% { transform: translateX(-75%); }
  }

.find {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem ;
  padding-top: 1rem;
  color: #ffffff68;
  font-family: 'Rubik Glitch';
  font-size: 2rem;
  letter-spacing: 3px;
  filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
} 

.footer {
    display: flex;
    align-items: flex-end;
    background: rgb(53, 48, 48);
    height: 12rem;
    margin-left: 0 20%;
    padding: 1.7rem;
    justify-content: flex-end;
}

.footer.closed {
  margin-left: 0;
}
.containCreated1 {
    display: flex;
    align-items: center;
}