.sidebar {
    position: fixed;
    height: 100%;
    width: 20%;
    background: rgb(53, 48, 48);
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 30px 0px;
    transition: all 0.5s ease-out;
    overflow-y:scroll;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: none;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(60, 52, 52);
    border-radius: 10px;
}

.sidebar.open {
    transform: translateX(0);
}
  
.sidebar.closed {
    transform: translateX(-100%);
}

.topbarContain {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.topbar {
    margin-left: 20%;
    width: 100%;
    background: rgb(53, 48, 48);
    box-shadow: rgba(0, 0, 0, 0.7) 10px 5px 10px; 
    transition: all 0.5s ease-out;
    padding: 1rem 0 2.5rem 0;
}

.topbar.closed  {
    margin-left: 0%;
}

.toggleMenu {
    width: 1.3rem;
    height: 3rem;
    margin-right: 1rem;
    background-color: #ffffff83;
    border-radius: 0 0.8rem 0.8rem 0 ;
    transition: all 0.5s ease-out;
    border: none;
}

.toggleMenu:hover{
    width: 2rem; 
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background: rgb(176, 78, 78);
    transition: all 0.5s ease-out;
}

.pag {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 20%;
    background-color:rgba(53, 48, 48, 0.281); ;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-out;
}

.pag.closed  {
    margin-left: 0%;
}

.load-notF{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120vw;
    height: 125vh;
}

.maincontainer {
    display: flex;
    justify-content: flex-end;   
}

.cardsContain {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30vh;
    margin-bottom: 5%;
    transition: all 0.5s ease-out;
}

.cardsContain.closed {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 0.5rem;
    justify-content: center;
    width: 100%;
    margin: 30vh auto 5%;
  }

.card {
    border-radius: .5rem;
    margin: .7rem 5rem;
    overflow: hidden;
}

.card.closed {
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 2rem 1rem 2rem;
}

.card.closed:nth-child(odd) {
    margin-left: 4rem;
    margin-right: .3rem;
}
  
.card.closed:nth-child(even) {
    margin-left: .3rem;
    margin-right: 4rem;
}

  .footer {
    display: flex;
    align-items: flex-end;
    background: rgb(53, 48, 48);
    height: 15rem;
    margin-left: 20%;
}


.containSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50vh;
  }
  
  .imgSlider {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: slide 6s infinite;
  }
  
  .imgSlider:nth-child(1) {
    animation-delay: 0s;
  }
  
  .imgSlider:nth-child(2) {
    animation-delay: 2s;
  }
  
  .imgSlider:nth-child(3) {
    animation-delay: 4s;
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    53% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }