.maincontainer {
    display: flex;
}
    
.navConteiner {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 30px 0px;
    position: fixed;
    width: 20%;
    z-index: 100; /*ver esto*/
    background: rgb(45, 45, 45);
}

.pagContainer {
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgb(53, 48, 48);
    height: 80px;
}

.slides {
    position: fixed;
    width: 100%;
    background: rgb(53, 48, 48);
    height: 80px;
}

.cardsContain {
    grid-area: 1 / 2 / 6 / 6;
    margin-top: 7rem;
    margin-left: 7rem;
    width: 100%;
}

