.card0{
    display: flex;
    flex-direction: row;
    height: 25vh;
    padding: .3rem 0 .3rem 0;
    background-color: rgba(73, 67, 67, 0.623);
    border: 0.2rem solid transparent;
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
}

.card0:hover{
    background-color: rgba(255, 255, 255, 0.249);
    border: 0.2rem solid rgba(255, 255, 255, 0.603);
    border-radius: 0.5rem;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star {
    font-size: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(233, 94, 94);
}

.numRating {
    font-size: 1.2rem;
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: rgb(179, 178, 178);
}

.imgCont{
    display: flex;
    justify-content: flex-start;
}
  
.imgcard {  
    object-fit: initial;
    width: 20vw;
    height: auto;
    box-shadow: rgba(66, 13, 13, 0.979) 0px 0px 50px 0px;
}

.card1 {
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
    width: 100%;
    overflow-y:scroll;
}

.card1::-webkit-scrollbar-thumb {
    background-color: #c5c4c41f;
    border-radius: 10px;
}

.C1open {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.spanopen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: .5rem;
    width: 2rem;
    height: 2rem;
    color: #cac9c9;
    font-size: .9rem;
    border-radius: 2rem;
    transition: all 0.3s ease-out;
    border: none;
}

.spanopen:hover{
    box-shadow: rgba(201, 38, 38, 0.993) 0px 0px 35px 0px;
}

.name {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: rgb(230, 228, 228);
    text-shadow: 2px 2px 10px rgb(209, 78, 78);
}

.detail {
    margin-left: 2rem;
    margin-top: 1rem;
    color: white;
    padding: 0 1rem 0.5rem 0;
}

.card2 {
    font-size: .9rem;
    margin: 0;
    color: rgb(212, 85, 85);
    line-height: 1.2rem;
}

.card3 {
    font-size: .8rem;
    font-weight: 300;
    color: rgb(179, 178, 178);
    font-style: italic
}

@media  (max-width:900px){
    .rating {
        display: flex;
        width: 4vw;
        margin-right: 0.2rem;
        align-items: center;
        justify-content: center;
    }
    .star {
        font-size: 1.7rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(233, 94, 94);
    }
    .numRating {
        font-size: 1.2rem;
        transform: rotate(-90deg);
        color: rgb(179, 178, 178);
    }
    .imgCont {
        display: flex;
        justify-content: flex-start;
        width: 40%;
    }
    .imgcard {
        object-fit: initial;
        width: 30vw;
        box-shadow: rgba(66, 13, 13, 0.979) 0px 0px 50px 0px;
    }
    .name {
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: rgb(230, 228, 228);
        text-shadow: 2px 2px 10px rgb(209, 78, 78);
    }
    .card2 {
        font-size: 1rem;
        margin: 0;
        color: rgb(212, 85, 85);
        line-height: 1.2rem;
    }
    .card3 {
        font-size: .8rem;
        font-weight: 300;
        color: rgb(179, 178, 178);
        font-style: italic;
    }
}

@media (max-width:500px){

    .card0{
        flex-direction: column;
        height: auto;
    }

    .spanopen{
        display: none;
    }

    .rating {
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .star {
        font-size: 1.4rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(233, 94, 94);
    }

    .numRating {
        font-size: 1rem;
        transform: rotate(0deg);
        color: rgb(179, 178, 178);
        padding-top: 0.2rem;
        padding-left: 0.3rem;
    }

    .imgCont {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
        width: 80%;
    }
    .imgcard {
        object-fit: initial;
        width: 100%;
        height: auto;
        box-shadow: rgba(66, 13, 13, 0.979) 0px 0px 50px 0px;

    }
    .name {
        font-size: 1.5em;
        margin: .5rem auto;
        color: rgb(230, 228, 228);
        text-shadow: 2px 2px 10px rgb(209, 78, 78);
        text-align: center;
    }
    .card2 {
        font-size: .9rem;
        margin: 0;
        color: rgb(212, 85, 85);
        line-height: 1.5;
    }
    .card3 {
        font-size: .9rem;
        font-weight: 300;
        color: rgb(179, 178, 178);
        font-style: italic;
        line-height: auto;

    }
    .C1open{
        margin-right: auto;
        margin-left: auto;
    }
}







  

