.serchBar {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: left;
}

.inText {
    width: 100%;
    margin-left: 1rem;
    padding: 1rem 0rem 1rem 1rem;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid var(--border);
    -webkit-appearance: none;
    appearance: none;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    box-shadow: rgba(176, 78, 78, 0.7) 0px 0px 20px 0px;
}

.inText:focus {
    outline: 1px solid rgb(176, 78, 78);
    font-weight: 600;
  }

.inSub {
    padding: 1rem 1.3rem;
    margin-right: 1.5rem;
    color: #fff;
    left: 20rem;
    top: 0;
    background: rgb(176, 78, 78);
    box-shadow: rgba(176, 78, 78, 0.7) 0px 0px 20px 0px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    border: none;
}

.inSub:hover {
    background-color: #fdfdfd61;
    color: rgb(255, 255, 255)
  }

  .inSubDes {
    padding: 1rem 1.3rem;
    margin-right: 1.5rem;
    left: 20rem;
    top: 0;
    background-color: #fdfdfd61;
    color: rgb(255, 255, 255);
    border-radius: 0 6px 6px 0;
    border: none;
}

.but {
    padding: .2rem;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2rem;
    margin-top: .8rem;
    margin-left: 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: rgba(255, 251, 251, 0.453);
    box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
    cursor: pointer;
    list-style: none;
    color: rgb(255, 255, 255);
    background: rgb(176, 78, 78);
    box-shadow: rgba(176, 78, 78, 0.7) 0px 0px 20px 0px;
    border-radius: 6px 6px 6px 6px;
}

.searchSpan {
    position: relative;
    top: .8rem;
    color: white;
    font-size: .9rem;
    margin-left: 1rem;
}