.filcontainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem 3rem 1rem;
}

.h5 {
    color: rgb(176, 78, 78);
    margin: .5rem;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px
}

.select {
    color: rgba(255, 251, 251, 0.473);
    border-radius: 0.3rem;
    border-color: rgba(255, 251, 251, 0.453);
    padding: 0rem 0.4rem;
    background: transparent;
    font-size: .8rem;
    height: 1.6rem;
    margin-top: .5rem;
}

.select > option {
    background-color: rgb(76, 26, 26);
}

.select:hover {
    background-color: rgb(140, 46, 46);
}