.loadGD{
    margin-top: 15vh;
    height: 80vh;
}

.NavGD {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-bottom: 0.5rem;
    background-color: rgba(53, 48, 48, 0.623);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-out;
    padding: 0.5rem 0 0.5rem 0;
}

.NavGD_ {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.topbarGD {
    display: flex;
    background-color:rgba(53, 48, 48, 0.623);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-out;
    height: 26vh;
}

.conteinerGD {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 3rem auto 0 auto;
    padding: 1rem 1rem 0 1rem;
    overflow: hidden;
    background-color: rgba(73, 67, 67, 0.623);
    backdrop-filter: blur(10px);
    border: 0.2rem solid transparent;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: all 0.3s ease-out;
}
.conteinerGD_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    margin: 0 auto 0 auto;
    padding: 0 1rem 1rem 1rem;
    overflow: hidden;
    background-color: rgba(73, 67, 67, 0.623);
    backdrop-filter: blur(10px);
    border: 0.2rem solid transparent;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: all 0.3s ease-out;
}

.conteinerGD:hover{
    background-color: rgba(255, 255, 255, 0.249);
    border: 0.2rem solid rgba(255, 255, 255, 0.603);
    border-radius: 0.5rem;
}

.conteinerGD_:hover{
    background-color: rgba(255, 255, 255, 0.249);
    border: 0.2rem solid rgba(255, 255, 255, 0.603);
    border-radius: 0.5rem;
}

.nameGD {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: rgb(230, 228, 228);
    text-shadow: 2px 2px 4px rgb(209, 78, 78);
    margin: 0;
}

.ratingGD {
    display: flex;
    justify-content: center;
    align-items: center;
}
.starGD {
    font-size: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(199, 78, 78);
}

.numRatingGD {
    font-size: 1.2rem;
    margin: 0;
    padding-top: 0.3rem;
    padding-left: .5rem;
    color: rgb(230, 228, 228);
    text-shadow: 2px 2px 4px rgb(209, 78, 78);
}

.imgGD {
    padding: .5rem;
    object-fit: cover;
    width: 50vw;
    height: 50vh;    
}

.contH4Span {
    display: flex;
    flex-direction: row;
}

.h4GD {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    color: rgb(199, 78, 78);
    line-height: 1.2rem;
}

.spanGD {
    margin: 0;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(202, 201, 201);
    font-style: italic;  
}

.textGD {
    margin: 0;
    padding: 0 1rem 0 0;
    font-size: 1rem;
    font-weight: 300;
    color: rgb(202, 201, 201);
    font-style: italic; 
    height: 50vh; 
    overflow-y:scroll;
    text-align: justify;
}

.footerGD {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: rgb(53, 48, 48);
    height: 12rem;
    margin-top: 5rem;
    justify-content: flex-end;
}


@media  (max-width:900px){
    .topbarGD {
        height: 16vh;
    }

    .conteinerGD {
        width: 80vw;
    }
    .conteinerGD_ {
        width: 80vw;
    }
    .imgGD {
        width: 80vw;
    }
}
