.NavGD {
    /* display: flex; */
    height: 10vh;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(10px);
    background: #49494940;
}

.NavGD_ {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}



/* .condet1 {
    display: flex; 
    width: 70vw;
} */


/* .contdet3 {
    grid-area: 1 / 2 / 6 / 6;
    margin-top: 6rem;
    padding: 2rem;
} */
/* .contdet4 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 42rem;
    padding-right: 1rem;
    text-align:left;
    border-radius: 2em;
    padding-bottom: 50rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.162);
} */

/* .stardet {
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-top: .3rem;
} */

/* .deth3 {
    font-size: .9rem;
    padding-top: .5rem;
    margin: 0;
} */

/* .detname {
    font-size: 2rem;
    padding-top: 13rem;
    margin: 0;
    color: rgb(218, 118, 118);
} */

/* .divdet {
    display: flex;
    flex-direction: row;
    line-height: 1.7rem;
} */
/* 
.divdet2{
    display: flex;
    flex-direction: row;
    line-height: 1.7rem;
    top: 42rem;
    padding-left: 4rem;
    padding-right: 10rem;
    position: absolute;
} */

/* .imgdet {
    position: absolute;
    top: 4rem;
    left: 4rem;
    border-radius: 1rem;
    object-fit: cover;
    width: 30vw;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.979) 0px 0px 50px 0px;
} */

/* .detbut {
    position: absolute;
    top:9rem;
    left: 30rem;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: rgb(176, 78, 78);
    box-shadow: rgba(176, 78, 78, 0.7) 0px 0px 30px 0px;
    cursor: pointer;
    list-style: none;
    color: rgb(243, 156, 156);
    border-radius: 6px 6px 6px 6px; 
} */
/* .detbut:hover {
    color:white;
    background-color: rgba(255, 255, 255, 0.183)
} */

/* .detbut1 {
    position: absolute;
    top:9rem;
    left: 36rem;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border-color: rgb(176, 78, 78);
    box-shadow: rgba(176, 78, 78, 0.7) 0px 0px 30px 0px;
    cursor: pointer;
    list-style: none;
    color: rgb(243, 156, 156);
    border-radius: 6px 6px 6px 6px; 
} */

