.card {
    position: relative;
    flex-direction: column;
    text-align:left;
    border-radius: .5rem;
    margin: .7rem 2%;
    padding-left: 35%;
    padding-bottom: 1.5rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.249);
}

/* img {
    position: absolute;
    top: -2rem;
    left: 0;
    object-fit: cover;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.979) 0px 0px 50px 0px;
} */

.imgcard {
    position: absolute;
    top: -2rem;
    left: 0;
    object-fit: cover;
    width: 25vw;
    box-shadow: rgba(0, 0, 0, 0.979) 0px 0px 50px 0px;
}

.star {
    position: relative;
    font-size: 1.5rem;
    top: 0rem;
    padding-right: 1rem;
    padding-top: .9rem;
}

.card1 > div {
    position: relative;
    display: flex;
    flex-direction: row;
}

.cardh3 {
    font-size: 1.2rem;
    padding-top: 1.2rem;
    margin: 0;
}

.cardh2 {
    font-size: 1.4rem;
    padding-top: .7rem;
    margin: 0;
    color: rgb(218, 118, 118);
}

.cardh4 {
    font-size: .8rem;
    padding-top: .3rem;
    margin: 0;
}

