.maincontainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px; 
}
    
.navConteiner {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 30px 0px;
    position: fixed;
    z-index: 100;
    background: rgb(45, 45, 45);
}



.pagContainer {
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgb(53, 48, 48);
    height: 80px;

}

.slides {
    position: fixed;
    width: 100%;
    background: rgb(53, 48, 48);
    height: 80px;
}

.cardsContain {
    grid-area: 1 / 2 / 6 / 6;
    margin-top: 7rem;
    margin-left: 7rem;
    width: 100%;
}

select {
    color: rgb(255, 251, 251);
    border-radius: 0.3rem;
    border-color: rgba(255, 251, 251, 0.453);
    padding: 0.3rem 0.4rem;
    background: transparent;
    font-size: .9rem;
    height: 2rem;
    padding: 5px;
    width: 90%;
    margin-top: 1rem;
}

select > option {
    background-color: rgb(76, 26, 26);
}

select:hover {
    background-color: rgb(140, 46, 46);
}

.homespan {
    position: relative;
    top: rem;
    color: white;
    font-size: .9rem;
    margin-left: 1rem;
}