.pagul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 26%;
}

.pagli {
    padding: .6rem;
}

.pagbut {
    font-size: .8rem;
    color: rgb(255, 251, 251);
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    border-color: rgba(255, 251, 251, 0.453);
    background-color: transparent
}

.pagbut:hover {
    background-color: rgb(140, 46, 46);
    transition: transform .4s;
}
