.containSG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.imgSG {
    height: 9vh;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSG {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgb(151, 151, 151);
}